:root {
    --input-p-x: 0.6rem;
    --input-p-y: 0.2rem;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
}

html, body, input, select, button {
    font-size: 1.5rem;
    font-family: sans-serif;
    color: #fff;
}

input, select, button {
    padding: var(--input-p-y) var(--input-p-x);
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    width: 100%;
}

input[type="color"] {
    height: 100%;
}

select {
    padding-bottom: calc(var(--input-p-y) - 1px);
}

button {
    cursor: pointer;
}

a {
    color: #00aaff;
}

.full {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.scrollable {
    overflow: auto;
}

.background-dim {
    background-color: #00000088;
}

.center {
    margin: auto;
}
