* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
}

html, body, input, select, button {
    font-size: 1.5rem;
    font-family: sans-serif;
    color: #fff;
}

input, select, button {
    padding: 0.2rem 0.6rem;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

input, select {
    width: 100%;
}

button {
    cursor: pointer;
    width: 100%;
}

a {
    color: #00aaff;
}

.full {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.background-dim {
    background-color: #00000088;
}

.center {
    margin: auto;
}
